schema/porocevalec.dtd


<!--
DTD generated from ODD source 2018-01-13T09:28:29Z. .This template file is freely available and you are hereby authorised to copy, modify, and redistribute it in any way without further reference or permissions.When making such modifications, you are strongly recommended to change the present text to include an accurate statement of the licencing conditions applicable to your modified text.
TEI Edition: Version 3.2.0. Last updated on
	10th July 2017, revision 0fcf651
TEI Edition Location: http://www.tei-c.org/Vault/P5/Version 3.2.0/

-->

<!-- start datatypes -->

<!ENTITY % teidata.certainty '(high|medium|low|unknown)' >

<!ENTITY % teidata.probability ' CDATA ' >

<!ENTITY % teidata.numeric ' CDATA ' >

<!ENTITY % teidata.count ' CDATA ' >

<!ENTITY % teidata.temporal.w3c ' CDATA ' >

<!ENTITY % teidata.duration.iso ' CDATA ' >

<!ENTITY % teidata.duration.w3c ' CDATA ' >

<!ENTITY % teidata.truthValue ' CDATA ' >

<!ENTITY % teidata.xTruthValue ' CDATA ' >

<!ENTITY % teidata.language ' CDATA ' >

<!ENTITY % teidata.outputMeasurement ' CDATA ' >

<!ENTITY % teidata.pattern ' CDATA ' >

<!ENTITY % teidata.pointer ' CDATA ' >

<!ENTITY % teidata.versionNumber ' CDATA ' >

<!ENTITY % teidata.replacement ' CDATA' >

<!ENTITY % teidata.xpath ' CDATA' >

<!ENTITY % teidata.word ' CDATA ' >

<!ENTITY % teidata.text ' CDATA ' >

<!ENTITY % teidata.name ' CDATA ' >

<!ENTITY % teidata.enumerated '%teidata.word;' >

<!ENTITY % teidata.probCert ' CDATA ' >

<!ENTITY % data.numeric ' CDATA' >

<!-- end datatypes -->

<!-- predeclared classes -->

<!ENTITY % att.global.responsibility.attribute.cert '
cert %teidata.probCert;  #IMPLIED'>

<!ENTITY % att.global.responsibility.attribute.resp '
resp CDATA  #IMPLIED'>
<!ENTITY % att.global.responsibility.attributes '
 %att.global.responsibility.attribute.cert;
 %att.global.responsibility.attribute.resp;'> 
<!ENTITY % att.global.rendition.attribute.rend '
rend CDATA  #IMPLIED'>

<!ENTITY % att.global.rendition.attribute.style '
style %teidata.text;  #IMPLIED'>

<!ENTITY % att.global.rendition.attribute.rendition '
rendition CDATA  #IMPLIED'>
<!ENTITY % att.global.rendition.attributes '
 %att.global.rendition.attribute.rend;
 %att.global.rendition.attribute.style;
 %att.global.rendition.attribute.rendition;'> 
<!ENTITY % att.global.source.attribute.source '
source CDATA  #IMPLIED'>
<!ENTITY % att.global.source.attributes '
 %att.global.source.attribute.source;'> 
<!ENTITY % model.placeNamePart ""> 
<!ENTITY % model.placeNamePart_sequence ""> 
<!ENTITY % model.placeNamePart_sequenceOptional ""> 
<!ENTITY % model.placeNamePart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.placeNamePart_sequenceRepeatable ""> 
<!ENTITY % model.placeStateLike ""> 
<!ENTITY % model.placeStateLike_sequence ""> 
<!ENTITY % model.placeStateLike_sequenceOptional ""> 
<!ENTITY % model.placeStateLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.placeStateLike_sequenceRepeatable ""> 
<!ENTITY % model.resourceLike "text"> 
<!ENTITY % model.resourceLike_sequence "text"> 
<!ENTITY % model.resourceLike_sequenceOptional "text?"> 
<!ENTITY % model.resourceLike_sequenceOptionalRepeatable "text*"> 
<!ENTITY % model.resourceLike_sequenceRepeatable "text+"> 
<!-- end of predeclared classes -->

<!ENTITY % att.canonical.attribute.key '
key %teidata.text;  #IMPLIED'>

<!ENTITY % att.canonical.attribute.ref '
ref CDATA  #IMPLIED'>
<!ENTITY % att.canonical.attributes '
 %att.canonical.attribute.key;
 %att.canonical.attribute.ref;'> 
<!ENTITY % att.ranging.attribute.atLeast '
atLeast %teidata.numeric;  #IMPLIED'>

<!ENTITY % att.ranging.attribute.atMost '
atMost %teidata.numeric;  #IMPLIED'>

<!ENTITY % att.ranging.attribute.min '
min %teidata.numeric;  #IMPLIED'>

<!ENTITY % att.ranging.attribute.max '
max %teidata.numeric;  #IMPLIED'>

<!ENTITY % att.ranging.attribute.confidence '
confidence %teidata.probability;  #IMPLIED'>
<!ENTITY % att.ranging.attributes '
 %att.ranging.attribute.atLeast;
 %att.ranging.attribute.atMost;
 %att.ranging.attribute.min;
 %att.ranging.attribute.max;
 %att.ranging.attribute.confidence;'> 
<!ENTITY % att.dimensions.attribute.unit '
unit %teidata.enumerated;  #IMPLIED'>

<!ENTITY % att.dimensions.attribute.quantity '
quantity %teidata.numeric;  #IMPLIED'>

<!ENTITY % att.dimensions.attribute.extent '
extent %teidata.text;  #IMPLIED'>

<!ENTITY % att.dimensions.attribute.precision '
precision %teidata.certainty;  #IMPLIED'>

<!ENTITY % att.dimensions.attribute.scope '
scope %teidata.enumerated;  #IMPLIED'>
<!ENTITY % att.dimensions.attributes '%att.ranging.attributes;
 %att.dimensions.attribute.unit;
 %att.dimensions.attribute.quantity;
 %att.dimensions.attribute.extent;
 %att.dimensions.attribute.precision;
 %att.dimensions.attribute.scope;'> 
<!ENTITY % att.written.attribute.hand '
hand %teidata.pointer;  #IMPLIED'>
<!ENTITY % att.written.attributes '
 %att.written.attribute.hand;'> 
<!ENTITY % att.datable.w3c.attribute.when '
when %teidata.temporal.w3c;  #IMPLIED'>

<!ENTITY % att.datable.w3c.attribute.notBefore '
notBefore %teidata.temporal.w3c;  #IMPLIED'>

<!ENTITY % att.datable.w3c.attribute.notAfter '
notAfter %teidata.temporal.w3c;  #IMPLIED'>

<!ENTITY % att.datable.w3c.attribute.from '
from %teidata.temporal.w3c;  #IMPLIED'>

<!ENTITY % att.datable.w3c.attribute.to '
to %teidata.temporal.w3c;  #IMPLIED'>
<!ENTITY % att.datable.w3c.attributes '
 %att.datable.w3c.attribute.when;
 %att.datable.w3c.attribute.notBefore;
 %att.datable.w3c.attribute.notAfter;
 %att.datable.w3c.attribute.from;
 %att.datable.w3c.attribute.to;'> 
<!ENTITY % att.datable.attribute.calendar '
calendar %teidata.pointer;  #IMPLIED'>

<!ENTITY % att.datable.attribute.period '
period %teidata.pointer;  #IMPLIED'>
<!ENTITY % att.datable.attributes '%att.datable.w3c.attributes;
 %att.datable.attribute.calendar;
 %att.datable.attribute.period;'> 
<!ENTITY % att.declarable.attribute.default '
default (true|false) "false" '>
<!ENTITY % att.declarable.attributes '
 %att.declarable.attribute.default;'> <!ENTITY % att.divLike.attributes ''> 
<!ENTITY % att.docStatus.attribute.status '
status %teidata.enumerated;  "draft" '>
<!ENTITY % att.docStatus.attributes '
 %att.docStatus.attribute.status;'> 
<!ENTITY % att.global.responsibility.attribute.cert '
cert %teidata.probCert;  #IMPLIED'>

<!ENTITY % att.global.responsibility.attribute.resp '
resp CDATA  #IMPLIED'>
<!ENTITY % att.global.responsibility.attributes '
 %att.global.responsibility.attribute.cert;
 %att.global.responsibility.attribute.resp;'> 
<!ENTITY % att.editLike.attribute.evidence '
evidence NMTOKENS  #IMPLIED'>

<!ENTITY % att.editLike.attribute.instant '
instant %teidata.xTruthValue;  "false" '>
<!ENTITY % att.editLike.attributes '%att.dimensions.attributes;
 %att.editLike.attribute.evidence;
 %att.editLike.attribute.instant;'> 
<!ENTITY % att.global.rendition.attribute.rend '
rend CDATA  #IMPLIED'>

<!ENTITY % att.global.rendition.attribute.style '
style %teidata.text;  #IMPLIED'>

<!ENTITY % att.global.rendition.attribute.rendition '
rendition CDATA  #IMPLIED'>
<!ENTITY % att.global.rendition.attributes '
 %att.global.rendition.attribute.rend;
 %att.global.rendition.attribute.style;
 %att.global.rendition.attribute.rendition;'> 
<!ENTITY % att.global.source.attribute.source '
source CDATA  #IMPLIED'>
<!ENTITY % att.global.source.attributes '
 %att.global.source.attribute.source;'> 
<!ENTITY % att.global.attribute.xmlid '
xml:id ID #IMPLIED'>

<!ENTITY % att.global.attribute.n '
n %teidata.text;  #IMPLIED'>

<!ENTITY % att.global.attribute.xmllang '
xml:lang %teidata.language;  #IMPLIED'>
<!ENTITY % att.global.attributes '%att.global.rendition.attributes;%att.global.responsibility.attributes;%att.global.source.attributes;
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;'> 
<!ENTITY % att.naming.attribute.role '
role NMTOKENS  #IMPLIED'>

<!ENTITY % att.naming.attribute.nymRef '
nymRef CDATA  #IMPLIED'>
<!ENTITY % att.naming.attributes '%att.canonical.attributes;
 %att.naming.attribute.role;
 %att.naming.attribute.nymRef;'> 
<!ENTITY % att.typed.attribute.type '
type %teidata.enumerated;  #IMPLIED'>

<!ENTITY % att.typed.attribute.subtype '
subtype %teidata.enumerated;  #IMPLIED'>
<!ENTITY % att.typed.attributes '
 %att.typed.attribute.type;
 %att.typed.attribute.subtype;'> 
<!ENTITY % att.pointing.attribute.targetLang '
targetLang %teidata.language;  #IMPLIED'>

<!ENTITY % att.pointing.attribute.target '
target CDATA  #IMPLIED'>

<!ENTITY % att.pointing.attribute.evaluate '
evaluate (all|one|none) #IMPLIED'>
<!ENTITY % att.pointing.attributes '
 %att.pointing.attribute.targetLang;
 %att.pointing.attribute.target;
 %att.pointing.attribute.evaluate;'> 
<!ENTITY % att.sortable.attribute.sortKey '
sortKey %teidata.word;  #IMPLIED'>
<!ENTITY % att.sortable.attributes '
 %att.sortable.attribute.sortKey;'> 
<!ENTITY % model.nameLike.agent "name"> 
<!ENTITY % model.nameLike.agent_sequence "name"> 
<!ENTITY % model.nameLike.agent_sequenceOptional "name?"> 
<!ENTITY % model.nameLike.agent_sequenceOptionalRepeatable "name*"> 
<!ENTITY % model.nameLike.agent_sequenceRepeatable "name+"> 
<!ENTITY % model.segLike ""> 
<!ENTITY % model.segLike_sequence ""> 
<!ENTITY % model.segLike_sequenceOptional ""> 
<!ENTITY % model.segLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.segLike_sequenceRepeatable ""> 
<!ENTITY % model.hiLike ""> 
<!ENTITY % model.hiLike_sequence ""> 
<!ENTITY % model.hiLike_sequenceOptional ""> 
<!ENTITY % model.hiLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.hiLike_sequenceRepeatable ""> 
<!ENTITY % model.emphLike "title"> 
<!ENTITY % model.emphLike_sequence "title"> 
<!ENTITY % model.emphLike_sequenceOptional "title?"> 
<!ENTITY % model.emphLike_sequenceOptionalRepeatable "title*"> 
<!ENTITY % model.emphLike_sequenceRepeatable "title+"> 
<!ENTITY % model.highlighted "%model.emphLike;"> 
<!ENTITY % model.highlighted_sequence "%model.emphLike;"> 
<!ENTITY % model.highlighted_sequenceOptional "%model.emphLike;?"> 
<!ENTITY % model.highlighted_sequenceOptionalRepeatable "%model.emphLike;*"> 
<!ENTITY % model.highlighted_sequenceRepeatable "%model.emphLike;+"> 
<!ENTITY % model.dateLike "date"> 
<!ENTITY % model.dateLike_sequence "date"> 
<!ENTITY % model.dateLike_sequenceOptional "date?"> 
<!ENTITY % model.dateLike_sequenceOptionalRepeatable "date*"> 
<!ENTITY % model.dateLike_sequenceRepeatable "date+"> 
<!ENTITY % model.measureLike ""> 
<!ENTITY % model.measureLike_sequence ""> 
<!ENTITY % model.measureLike_sequenceOptional ""> 
<!ENTITY % model.measureLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.measureLike_sequenceRepeatable ""> 
<!ENTITY % model.egLike ""> 
<!ENTITY % model.egLike_sequence ""> 
<!ENTITY % model.egLike_sequenceOptional ""> 
<!ENTITY % model.egLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.egLike_sequenceRepeatable ""> 
<!ENTITY % model.graphicLike ""> 
<!ENTITY % model.graphicLike_sequence ""> 
<!ENTITY % model.graphicLike_sequenceOptional ""> 
<!ENTITY % model.graphicLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.graphicLike_sequenceRepeatable ""> 
<!ENTITY % model.offsetLike ""> 
<!ENTITY % model.offsetLike_sequence ""> 
<!ENTITY % model.offsetLike_sequenceOptional ""> 
<!ENTITY % model.offsetLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.offsetLike_sequenceRepeatable ""> 
<!ENTITY % model.pPart.msdesc ""> 
<!ENTITY % model.pPart.msdesc_sequence ""> 
<!ENTITY % model.pPart.msdesc_sequenceOptional ""> 
<!ENTITY % model.pPart.msdesc_sequenceOptionalRepeatable ""> 
<!ENTITY % model.pPart.msdesc_sequenceRepeatable ""> 
<!ENTITY % model.pPart.editorial ""> 
<!ENTITY % model.pPart.editorial_sequence ""> 
<!ENTITY % model.pPart.editorial_sequenceOptional ""> 
<!ENTITY % model.pPart.editorial_sequenceOptionalRepeatable ""> 
<!ENTITY % model.pPart.editorial_sequenceRepeatable ""> 
<!ENTITY % model.pPart.transcriptional ""> 
<!ENTITY % model.pPart.transcriptional_sequence ""> 
<!ENTITY % model.pPart.transcriptional_sequenceOptional ""> 
<!ENTITY % model.pPart.transcriptional_sequenceOptionalRepeatable ""> 
<!ENTITY % model.pPart.transcriptional_sequenceRepeatable ""> 
<!ENTITY % model.pPart.edit ""> 
<!ENTITY % model.pPart.edit_sequence ""> 
<!ENTITY % model.pPart.edit_sequenceOptional ""> 
<!ENTITY % model.pPart.edit_sequenceOptionalRepeatable ""> 
<!ENTITY % model.pPart.edit_sequenceRepeatable ""> 
<!ENTITY % model.ptrLike ""> 
<!ENTITY % model.ptrLike_sequence ""> 
<!ENTITY % model.ptrLike_sequenceOptional ""> 
<!ENTITY % model.ptrLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.ptrLike_sequenceRepeatable ""> 
<!ENTITY % model.lPart ""> 
<!ENTITY % model.lPart_sequence ""> 
<!ENTITY % model.lPart_sequenceOptional ""> 
<!ENTITY % model.lPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.lPart_sequenceRepeatable ""> 
<!ENTITY % model.global.meta ""> 
<!ENTITY % model.global.meta_sequence ""> 
<!ENTITY % model.global.meta_sequenceOptional ""> 
<!ENTITY % model.global.meta_sequenceOptionalRepeatable ""> 
<!ENTITY % model.global.meta_sequenceRepeatable ""> 
<!ENTITY % model.milestoneLike ""> 
<!ENTITY % model.milestoneLike_sequence ""> 
<!ENTITY % model.milestoneLike_sequenceOptional ""> 
<!ENTITY % model.milestoneLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.milestoneLike_sequenceRepeatable ""> 
<!ENTITY % model.gLike ""> 
<!ENTITY % model.gLike_sequence ""> 
<!ENTITY % model.gLike_sequenceOptional ""> 
<!ENTITY % model.gLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.gLike_sequenceRepeatable ""> 
<!ENTITY % model.oddDecl ""> 
<!ENTITY % model.oddDecl_sequence ""> 
<!ENTITY % model.oddDecl_sequenceOptional ""> 
<!ENTITY % model.oddDecl_sequenceOptionalRepeatable ""> 
<!ENTITY % model.oddDecl_sequenceRepeatable ""> 
<!ENTITY % model.phrase.xml ""> 
<!ENTITY % model.phrase.xml_sequence ""> 
<!ENTITY % model.phrase.xml_sequenceOptional ""> 
<!ENTITY % model.phrase.xml_sequenceOptionalRepeatable ""> 
<!ENTITY % model.phrase.xml_sequenceRepeatable ""> 
<!ENTITY % model.specDescLike ""> 
<!ENTITY % model.specDescLike_sequence ""> 
<!ENTITY % model.specDescLike_sequenceOptional ""> 
<!ENTITY % model.specDescLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.specDescLike_sequenceRepeatable ""> 
<!ENTITY % model.biblLike "bibl |listBibl"> 
<!ENTITY % model.biblLike_sequence "bibl, listBibl"> 
<!ENTITY % model.biblLike_sequenceOptional "bibl?, listBibl?"> 
<!ENTITY % model.biblLike_sequenceOptionalRepeatable "bibl*, listBibl*"> 
<!ENTITY % model.biblLike_sequenceRepeatable "bibl+, listBibl+"> 
<!ENTITY % model.headLike ""> 
<!ENTITY % model.headLike_sequence ""> 
<!ENTITY % model.headLike_sequenceOptional ""> 
<!ENTITY % model.headLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.headLike_sequenceRepeatable ""> 
<!ENTITY % model.labelLike ""> 
<!ENTITY % model.labelLike_sequence ""> 
<!ENTITY % model.labelLike_sequenceOptional ""> 
<!ENTITY % model.labelLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.labelLike_sequenceRepeatable ""> 
<!ENTITY % model.listLike ""> 
<!ENTITY % model.listLike_sequence ""> 
<!ENTITY % model.listLike_sequenceOptional ""> 
<!ENTITY % model.listLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.listLike_sequenceRepeatable ""> 
<!ENTITY % model.noteLike ""> 
<!ENTITY % model.noteLike_sequence ""> 
<!ENTITY % model.noteLike_sequenceOptional ""> 
<!ENTITY % model.noteLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.noteLike_sequenceRepeatable ""> 
<!ENTITY % model.lLike ""> 
<!ENTITY % model.lLike_sequence ""> 
<!ENTITY % model.lLike_sequenceOptional ""> 
<!ENTITY % model.lLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.lLike_sequenceRepeatable ""> 
<!ENTITY % model.pLike "p"> 
<!ENTITY % model.pLike_sequence "p"> 
<!ENTITY % model.pLike_sequenceOptional "p?"> 
<!ENTITY % model.pLike_sequenceOptionalRepeatable "p*"> 
<!ENTITY % model.pLike_sequenceRepeatable "p+"> 
<!ENTITY % model.stageLike ""> 
<!ENTITY % model.stageLike_sequence ""> 
<!ENTITY % model.stageLike_sequenceOptional ""> 
<!ENTITY % model.stageLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.stageLike_sequenceRepeatable ""> 
<!ENTITY % model.global.edit ""> 
<!ENTITY % model.global.edit_sequence ""> 
<!ENTITY % model.global.edit_sequenceOptional ""> 
<!ENTITY % model.global.edit_sequenceOptionalRepeatable ""> 
<!ENTITY % model.global.edit_sequenceRepeatable ""> 
<!ENTITY % model.divPart "%model.pLike;"> 
<!ENTITY % model.divPart_sequence "%model.pLike;"> 
<!ENTITY % model.divPart_sequenceOptional "%model.pLike;?"> 
<!ENTITY % model.divPart_sequenceOptionalRepeatable "%model.pLike;*"> 
<!ENTITY % model.divPart_sequenceRepeatable "%model.pLike;+"> 
<!ENTITY % model.placeNamePart ""> 
<!ENTITY % model.placeNamePart_sequence ""> 
<!ENTITY % model.placeNamePart_sequenceOptional ""> 
<!ENTITY % model.placeNamePart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.placeNamePart_sequenceRepeatable ""> 
<!ENTITY % model.placeStateLike ""> 
<!ENTITY % model.placeStateLike_sequence ""> 
<!ENTITY % model.placeStateLike_sequenceOptional ""> 
<!ENTITY % model.placeStateLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.placeStateLike_sequenceRepeatable ""> 
<!ENTITY % model.publicationStmtPart.agency "publisher"> 
<!ENTITY % model.publicationStmtPart.agency_sequence "publisher"> 
<!ENTITY % model.publicationStmtPart.agency_sequenceOptional "publisher?"> 
<!ENTITY % model.publicationStmtPart.agency_sequenceOptionalRepeatable "publisher*"> 
<!ENTITY % model.publicationStmtPart.agency_sequenceRepeatable "publisher+"> 
<!ENTITY % model.publicationStmtPart.detail "date |availability"> 
<!ENTITY % model.publicationStmtPart.detail_sequence "date, availability"> 
<!ENTITY % model.publicationStmtPart.detail_sequenceOptional "date?, availability?"> 
<!ENTITY % model.publicationStmtPart.detail_sequenceOptionalRepeatable "date*, availability*"> 
<!ENTITY % model.publicationStmtPart.detail_sequenceRepeatable "date+, availability+"> 
<!ENTITY % model.availabilityPart "licence"> 
<!ENTITY % model.availabilityPart_sequence "licence"> 
<!ENTITY % model.availabilityPart_sequenceOptional "licence?"> 
<!ENTITY % model.availabilityPart_sequenceOptionalRepeatable "licence*"> 
<!ENTITY % model.availabilityPart_sequenceRepeatable "licence+"> 
<!ENTITY % model.quoteLike ""> 
<!ENTITY % model.quoteLike_sequence ""> 
<!ENTITY % model.quoteLike_sequenceOptional ""> 
<!ENTITY % model.quoteLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.quoteLike_sequenceRepeatable ""> 
<!ENTITY % model.qLike ""> 
<!ENTITY % model.qLike_sequence ""> 
<!ENTITY % model.qLike_sequenceOptional ""> 
<!ENTITY % model.qLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.qLike_sequenceRepeatable ""> 
<!ENTITY % model.respLike "respStmt"> 
<!ENTITY % model.respLike_sequence "respStmt"> 
<!ENTITY % model.respLike_sequenceOptional "respStmt?"> 
<!ENTITY % model.respLike_sequenceOptionalRepeatable "respStmt*"> 
<!ENTITY % model.respLike_sequenceRepeatable "respStmt+"> 
<!ENTITY % model.divWrapper ""> 
<!ENTITY % model.divWrapper_sequence ""> 
<!ENTITY % model.divWrapper_sequenceOptional ""> 
<!ENTITY % model.divWrapper_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divWrapper_sequenceRepeatable ""> 
<!ENTITY % model.divTopPart ""> 
<!ENTITY % model.divTopPart_sequence ""> 
<!ENTITY % model.divTopPart_sequenceOptional ""> 
<!ENTITY % model.divTopPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divTopPart_sequenceRepeatable ""> 
<!ENTITY % model.divTop ""> 
<!ENTITY % model.divTop_sequence ""> 
<!ENTITY % model.divTop_sequenceOptional ""> 
<!ENTITY % model.divTop_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divTop_sequenceRepeatable ""> 
<!ENTITY % model.frontPart.drama ""> 
<!ENTITY % model.frontPart.drama_sequence ""> 
<!ENTITY % model.frontPart.drama_sequenceOptional ""> 
<!ENTITY % model.frontPart.drama_sequenceOptionalRepeatable ""> 
<!ENTITY % model.frontPart.drama_sequenceRepeatable ""> 
<!ENTITY % model.pLike.front ""> 
<!ENTITY % model.pLike.front_sequence ""> 
<!ENTITY % model.pLike.front_sequenceOptional ""> 
<!ENTITY % model.pLike.front_sequenceOptionalRepeatable ""> 
<!ENTITY % model.pLike.front_sequenceRepeatable ""> 
<!ENTITY % model.divBottomPart ""> 
<!ENTITY % model.divBottomPart_sequence ""> 
<!ENTITY % model.divBottomPart_sequenceOptional ""> 
<!ENTITY % model.divBottomPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divBottomPart_sequenceRepeatable ""> 
<!ENTITY % model.divBottom ""> 
<!ENTITY % model.divBottom_sequence ""> 
<!ENTITY % model.divBottom_sequenceOptional ""> 
<!ENTITY % model.divBottom_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divBottom_sequenceRepeatable ""> 
<!ENTITY % model.imprintPart "publisher"> 
<!ENTITY % model.imprintPart_sequence "publisher"> 
<!ENTITY % model.imprintPart_sequenceOptional "publisher?"> 
<!ENTITY % model.imprintPart_sequenceOptionalRepeatable "publisher*"> 
<!ENTITY % model.imprintPart_sequenceRepeatable "publisher+"> 
<!ENTITY % model.addressLike ""> 
<!ENTITY % model.addressLike_sequence ""> 
<!ENTITY % model.addressLike_sequenceOptional ""> 
<!ENTITY % model.addressLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.addressLike_sequenceRepeatable ""> 
<!ENTITY % model.nameLike "%model.nameLike.agent;"> 
<!ENTITY % model.nameLike_sequence "%model.nameLike.agent;"> 
<!ENTITY % model.nameLike_sequenceOptional "%model.nameLike.agent;?"> 
<!ENTITY % model.nameLike_sequenceOptionalRepeatable "%model.nameLike.agent;*"> 
<!ENTITY % model.nameLike_sequenceRepeatable "%model.nameLike.agent;+"> 
<!ENTITY % model.global ""> 
<!ENTITY % model.global_sequence ""> 
<!ENTITY % model.global_sequenceOptional ""> 
<!ENTITY % model.global_sequenceOptionalRepeatable ""> 
<!ENTITY % model.global_sequenceRepeatable ""> 
<!ENTITY % model.biblPart "%model.respLike; |%model.imprintPart; |bibl |relatedItem |availability"> 
<!ENTITY % model.biblPart_sequence "%model.respLike;, %model.imprintPart;, bibl, relatedItem, availability"> 
<!ENTITY % model.biblPart_sequenceOptional "%model.respLike;?, %model.imprintPart;?, bibl?, relatedItem?, availability?"> 
<!ENTITY % model.biblPart_sequenceOptionalRepeatable "%model.respLike;*, %model.imprintPart;*, bibl*, relatedItem*, availability*"> 
<!ENTITY % model.biblPart_sequenceRepeatable "%model.respLike;+, %model.imprintPart;+, bibl+, relatedItem+, availability+"> 
<!ENTITY % model.frontPart "listBibl"> 
<!ENTITY % model.frontPart_sequence "listBibl"> 
<!ENTITY % model.frontPart_sequenceOptional "listBibl?"> 
<!ENTITY % model.frontPart_sequenceOptionalRepeatable "listBibl*"> 
<!ENTITY % model.frontPart_sequenceRepeatable "listBibl+"> 
<!ENTITY % model.pPart.data "%model.dateLike; |%model.nameLike;"> 
<!ENTITY % model.pPart.data_sequence "%model.dateLike;, %model.nameLike;"> 
<!ENTITY % model.pPart.data_sequenceOptional "%model.dateLike;?, %model.nameLike;?"> 
<!ENTITY % model.pPart.data_sequenceOptionalRepeatable "%model.dateLike;*, %model.nameLike;*"> 
<!ENTITY % model.pPart.data_sequenceRepeatable "%model.dateLike;+, %model.nameLike;+"> 
<!ENTITY % model.inter "%model.biblLike;"> 
<!ENTITY % model.inter_sequence "%model.biblLike;"> 
<!ENTITY % model.inter_sequenceOptional "%model.biblLike;?"> 
<!ENTITY % model.inter_sequenceOptionalRepeatable "%model.biblLike;*"> 
<!ENTITY % model.inter_sequenceRepeatable "%model.biblLike;+"> 
<!ENTITY % model.common "%model.divPart; |%model.inter;"> 
<!ENTITY % model.common_sequence "%model.divPart;, %model.inter;"> 
<!ENTITY % model.common_sequenceOptional "%model.divPart;?, %model.inter;?"> 
<!ENTITY % model.common_sequenceOptionalRepeatable "%model.divPart;*, %model.inter;*"> 
<!ENTITY % model.common_sequenceRepeatable "%model.divPart;+, %model.inter;+"> 
<!ENTITY % model.phrase "%model.highlighted; |%model.pPart.data;"> 
<!ENTITY % model.phrase_sequence "%model.highlighted;, %model.pPart.data;"> 
<!ENTITY % model.phrase_sequenceOptional "%model.highlighted;?, %model.pPart.data;?"> 
<!ENTITY % model.phrase_sequenceOptionalRepeatable "%model.highlighted;*, %model.pPart.data;*"> 
<!ENTITY % model.phrase_sequenceRepeatable "%model.highlighted;+, %model.pPart.data;+"> 
<!ENTITY % model.limitedPhrase "%model.emphLike; |%model.pPart.data;"> 
<!ENTITY % model.limitedPhrase_sequence "%model.emphLike;, %model.pPart.data;"> 
<!ENTITY % model.limitedPhrase_sequenceOptional "%model.emphLike;?, %model.pPart.data;?"> 
<!ENTITY % model.limitedPhrase_sequenceOptionalRepeatable "%model.emphLike;*, %model.pPart.data;*"> 
<!ENTITY % model.limitedPhrase_sequenceRepeatable "%model.emphLike;+, %model.pPart.data;+"> 
<!ENTITY % model.divLike "div"> 
<!ENTITY % model.divLike_sequence "div"> 
<!ENTITY % model.divLike_sequenceOptional "div?"> 
<!ENTITY % model.divLike_sequenceOptionalRepeatable "div*"> 
<!ENTITY % model.divLike_sequenceRepeatable "div+"> 
<!ENTITY % model.divGenLike ""> 
<!ENTITY % model.divGenLike_sequence ""> 
<!ENTITY % model.divGenLike_sequenceOptional ""> 
<!ENTITY % model.divGenLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divGenLike_sequenceRepeatable ""> 
<!ENTITY % model.div1Like ""> 
<!ENTITY % model.div1Like_sequence ""> 
<!ENTITY % model.div1Like_sequenceOptional ""> 
<!ENTITY % model.div1Like_sequenceOptionalRepeatable ""> 
<!ENTITY % model.div1Like_sequenceRepeatable ""> 
<!ENTITY % model.teiHeaderPart ""> 
<!ENTITY % model.teiHeaderPart_sequence ""> 
<!ENTITY % model.teiHeaderPart_sequenceOptional ""> 
<!ENTITY % model.teiHeaderPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.teiHeaderPart_sequenceRepeatable ""> 
<!ENTITY % model.sourceDescPart ""> 
<!ENTITY % model.sourceDescPart_sequence ""> 
<!ENTITY % model.sourceDescPart_sequenceOptional ""> 
<!ENTITY % model.sourceDescPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.sourceDescPart_sequenceRepeatable ""> 
<!ENTITY % model.resourceLike "text"> 
<!ENTITY % model.resourceLike_sequence "text"> 
<!ENTITY % model.resourceLike_sequenceOptional "text?"> 
<!ENTITY % model.resourceLike_sequenceOptionalRepeatable "text*"> 
<!ENTITY % model.resourceLike_sequenceRepeatable "text+"> 
<!ENTITY % att.personal.attribute.full '
full (yes|abb|init) "yes" '>

<!ENTITY % att.personal.attribute.sort '
sort %teidata.count;  #IMPLIED'>
<!ENTITY % att.personal.attributes '%att.naming.attributes;
 %att.personal.attribute.full;
 %att.personal.attribute.sort;'> 
<!-- start rest of patterns -->

<!ENTITY % macro.paraContent '(#PCDATA|_DUMMY_model.gLike|%model.phrase;|%model.inter;|_DUMMY_model.global|lg|_DUMMY_model.lLike)*' >

<!ENTITY % macro.phraseSeq '(#PCDATA|_DUMMY_model.gLike|%model.phrase;|_DUMMY_model.global)*' >

<!ENTITY % macro.phraseSeq.limited '(#PCDATA|%model.limitedPhrase;|_DUMMY_model.global)*' >

<!ENTITY % macro.specialPara '(#PCDATA|_DUMMY_model.gLike|%model.phrase;|%model.inter;|%model.divPart;|_DUMMY_model.global)*' >

<!-- end patterns -->

<!-- start elements -->

<!--doc:(TEI document) contains a single TEI-conformant document, combining a single TEI header with one or more members of the model.resourceLike class. Multiple TEI elements may be combined to form a teiCorpus element. [4. Default Text Structure 15.1. Varieties of Composite Text] -->
<!ELEMENT TEI ((teiHeader,(%model.resourceLike;)+))>
<!ATTLIST TEI xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST TEI
 %att.global.attributes;
 %att.typed.attributes; >
<!ATTLIST TEI xsi:schemaLocation CDATA #IMPLIED
 xmlns:xsi CDATA #FIXED 'http://www.w3.org/2001/XMLSchema-instance'
 >
<!--doc:supplies information about the availability of a text, for example any restrictions on its use or distribution, its copyright status, any licence applying to it, etc. [2.2.4. Publication, Distribution, Licensing, etc.] -->
<!ELEMENT availability (%model.availabilityPart;|%model.pLike;)+>
<!ATTLIST availability xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST availability
 %att.global.attributes;
 %att.declarable.attributes;
status (free|unknown|restricted) "unknown"  >
<!--doc:(back matter) contains any appendixes, etc. following the main part of a text. [4.7. Back Matter 4. Default Text Structure] -->
<!ELEMENT back (((%model.frontPart;|_DUMMY_model.pLike.front|%model.pLike;|_DUMMY_model.listLike|_DUMMY_model.global)*,(((_DUMMY_model.div1Like),(%model.frontPart;|_DUMMY_model.div1Like|_DUMMY_model.global)*)|((%model.divLike;),(%model.frontPart;|%model.divLike;|_DUMMY_model.global)*))?,((_DUMMY_model.divBottomPart),(_DUMMY_model.divBottomPart|_DUMMY_model.global)*)?))>
<!ATTLIST back xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST back
 %att.global.attributes; >
<!--doc:(bibliographic citation) contains a loosely-structured bibliographic citation of which the sub-components may or may not be explicitly tagged. [3.11.1. Methods of Encoding Bibliographic References and Lists of References 2.2.7. The Source Description 15.3.2. Declarable Elements] -->
<!ELEMENT bibl (#PCDATA|_DUMMY_model.gLike|%model.highlighted;|%model.pPart.data;|_DUMMY_model.pPart.edit|_DUMMY_model.segLike|_DUMMY_model.ptrLike|%model.biblPart;|_DUMMY_model.global)*>
<!ATTLIST bibl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST bibl
 %att.global.attribute.xmlid; >
<!--doc:(text body) contains the whole body of a single unitary text, excluding any front or back matter. [4. Default Text Structure] -->
<!ELEMENT body (((_DUMMY_model.global)*,((_DUMMY_model.divTop),(_DUMMY_model.global|_DUMMY_model.divTop)*)?,((_DUMMY_model.divGenLike),(_DUMMY_model.global|_DUMMY_model.divGenLike)*)?,(((%model.divLike;),(_DUMMY_model.global|_DUMMY_model.divGenLike)*)+|((_DUMMY_model.div1Like),(_DUMMY_model.global|_DUMMY_model.divGenLike)*)+|(((%model.common;),(_DUMMY_model.global)*)+,(((%model.divLike;),(_DUMMY_model.global|_DUMMY_model.divGenLike)*)+|((_DUMMY_model.div1Like),(_DUMMY_model.global|_DUMMY_model.divGenLike)*)+)?)),((_DUMMY_model.divBottom),(_DUMMY_model.global)*)*))>
<!ATTLIST body xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST body
 %att.global.attributes; >
<!--doc:contains a date in any format. [3.5.4. Dates and Times 2.2.4. Publication, Distribution, Licensing, etc. 2.6. The Revision Description 3.11.2.4. Imprint, Size of a Document, and Reprint Information 15.2.3. The Setting Description 13.3.6. Dates and Times] -->
<!ELEMENT date (#PCDATA|_DUMMY_model.gLike|%model.phrase;|_DUMMY_model.global)*>
<!ATTLIST date xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST date
 %att.global.attributes;
 %att.datable.attributes;
 %att.editLike.attributes;
 %att.typed.attributes; >
<!--doc:(text division) contains a subdivision of the front, body, or back of a text. [4.1. Divisions of the Body] -->
<!ELEMENT div (((_DUMMY_model.divTop|_DUMMY_model.global)*,((((%model.divLike;|_DUMMY_model.divGenLike),(_DUMMY_model.global)*)+|(((%model.common;),(_DUMMY_model.global)*)+,((%model.divLike;|_DUMMY_model.divGenLike),(_DUMMY_model.global)*)*)),((_DUMMY_model.divBottom),(_DUMMY_model.global)*)*)?))>
<!ATTLIST div xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST div
 %att.global.attributes;
 %att.divLike.attributes;
 %att.typed.attributes;
 %att.written.attributes; >
<!--doc:(file description) contains a full bibliographic description of an electronic file. [2.2. The File Description 2.1.1. The TEI Header and Its Components] -->
<!ELEMENT fileDesc (((titleStmt,(editionStmt)?,(extent)?,publicationStmt,(seriesStmt)?,(notesStmt)?),(sourceDesc)+))>
<!ATTLIST fileDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST fileDesc
 %att.global.attributes; >
<!--doc:(front matter) contains any prefatory matter (headers, abstracts, title page, prefaces, dedications, etc.) found at the start of a document, before the main body. [4.6. Title Pages 4. Default Text Structure] -->
<!ELEMENT front (((%model.frontPart;|%model.pLike;|_DUMMY_model.pLike.front|_DUMMY_model.global)*,((((_DUMMY_model.div1Like),(_DUMMY_model.div1Like|%model.frontPart;|_DUMMY_model.global)*)|((%model.divLike;),(%model.divLike;|%model.frontPart;|_DUMMY_model.global)*)),((_DUMMY_model.divBottom),(_DUMMY_model.divBottom|_DUMMY_model.global)*)?)?))>
<!ATTLIST front xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST front
 %att.global.attributes; >
<!--doc:contains information about a licence or other legal agreement applicable to the text. [2.2.4. Publication, Distribution, Licensing, etc.] -->
<!ELEMENT licence %macro.specialPara;>
<!ATTLIST licence xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST licence
 %att.global.attributes;
 %att.pointing.attributes;
 %att.datable.attributes; >
<!--doc:(citation list) contains a list of bibliographic citations of any kind. [3.11.1. Methods of Encoding Bibliographic References and Lists of References 2.2.7. The Source Description 15.3.2. Declarable Elements] -->
<!ELEMENT listBibl (((_DUMMY_model.headLike)*,(%model.biblLike;|_DUMMY_model.milestoneLike)+,(relation|listRelation)*))>
<!ATTLIST listBibl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(name, proper noun) contains a proper noun or noun phrase. [3.5.1. Referring Strings] -->
<!ELEMENT name %macro.phraseSeq;>
<!ATTLIST name xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST name
 %att.global.attributes;
 %att.personal.attributes;
 %att.datable.attributes;
 %att.editLike.attributes;
 %att.typed.attributes; >
<!--doc:(paragraph) marks paragraphs in prose. [3.1. Paragraphs 7.2.5. Speech Contents] -->
<!ELEMENT p %macro.paraContent;>
<!ATTLIST p xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST p
 %att.global.attributes;
 %att.written.attributes; >
<!--doc:(publication statement) groups information concerning the publication or distribution of an electronic or other text. [2.2.4. Publication, Distribution, Licensing, etc. 2.2. The File Description] -->
<!ELEMENT publicationStmt (((%model.publicationStmtPart.agency;),(%model.publicationStmtPart.detail;)*)+|(%model.pLike;)+)>
<!ATTLIST publicationStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST publicationStmt
 %att.global.attributes; >
<!--doc:provides the name of the organization responsible for the publication or distribution of a bibliographic item. [3.11.2.4. Imprint, Size of a Document, and Reprint Information 2.2.4. Publication, Distribution, Licensing, etc.] -->
<!ELEMENT publisher %macro.phraseSeq;>
<!ATTLIST publisher xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST publisher
 %att.global.attributes; >
<!--doc:contains or references some other bibliographic item which is related to the present one in some specified manner, for example as a constituent or alternative version of it. [3.11.2.7. Related Items] -->
<!ELEMENT relatedItem (%model.biblLike;|_DUMMY_model.ptrLike)?>
<!ATTLIST relatedItem xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST relatedItem
n %data.numeric;  #REQUIRED >
<!--doc:(responsibility) contains a phrase describing the nature of a person's intellectual responsibility, or an organization's role in the production or distribution of a work. [3.11.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.2. The Edition Statement 2.2.5. The Series Statement] -->
<!ELEMENT resp %macro.phraseSeq.limited;>
<!ATTLIST resp xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST resp
 %att.global.attributes;
 %att.canonical.attributes;
 %att.datable.attributes; >
<!--doc:(statement of responsibility) supplies a statement of responsibility for the intellectual content of a text, edition, recording, or series, where the specialized elements for authors, editors, etc. do not suffice or do not apply. May also be used to encode information about individuals or organizations which have played a role in the production or distribution of a bibliographic work. [3.11.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.2. The Edition Statement 2.2.5. The Series Statement] -->
<!ELEMENT respStmt (((((resp)+,(%model.nameLike.agent;)+)|((%model.nameLike.agent;)+,(resp)+)),(note)*))>
<!ATTLIST respStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST respStmt
 %att.global.attributes;
 %att.canonical.attributes; >
<!--doc:(source description) describes the source from which an electronic text was derived or generated, typically a bibliographic description in the case of a digitized text, or a phrase such as "born digital" for a text which has no previous existence. [2.2.7. The Source Description] -->
<!ELEMENT sourceDesc ((%model.pLike;)+|(%model.biblLike;|_DUMMY_model.sourceDescPart|_DUMMY_model.listLike)+)>
<!ATTLIST sourceDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST sourceDesc
 %att.global.attributes; >
<!--doc:(TEI header) supplies descriptive and declarative metadata associated with a digital resource or set of resources. [2.1.1. The TEI Header and Its Components 15.1. Varieties of Composite Text] -->
<!ELEMENT teiHeader ((fileDesc,(_DUMMY_model.teiHeaderPart)*,(revisionDesc)?))>
<!ATTLIST teiHeader xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST teiHeader
 %att.global.attributes; >
<!--doc:contains a single text of any kind, whether unitary or composite, for example a poem or drama, a collection of essays, a novel, a dictionary, or a corpus sample. [4. Default Text Structure 15.1. Varieties of Composite Text] -->
<!ELEMENT text (((_DUMMY_model.global)*,(front,(_DUMMY_model.global)*)?,(body|group),(_DUMMY_model.global)*,(back,(_DUMMY_model.global)*)?))>
<!ATTLIST text xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST text
 %att.global.attributes;
 %att.typed.attributes;
 %att.written.attributes; >
<!--doc:contains a title for any kind of work. [3.11.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.5. The Series Statement] -->
<!ELEMENT title %macro.paraContent;>
<!ATTLIST title xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(title statement) groups information about the title of a work and those responsible for its content. [2.2.1. The Title Statement 2.2. The File Description] -->
<!ELEMENT titleStmt (((title)+,(%model.respLike;)*))>
<!ATTLIST titleStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST titleStmt
 %att.global.attributes; >
<!-- end elements -->
